body {
    background-color: rgb(55, 56, 57);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scroll {
    height: 5px;
    background-color: gray;
    position: fixed;
}

h1 {
        padding-top: 10rem;
        padding-bottom: 1.5rem;
}